@media screen and (max-width: 1280px) {
    
    * {
        font-family: "Roboto", sans-serif;
        margin: 0px;
    }

    header.header {
        width: 100%;
        height: 140px;
        background-color: #4752c4;
    }

    nav.navbar {
        display: none;
    }

    section.example {
        display: none;
    }

    div.demo {
        width: 370px;
    }

}